// 后台框架尺寸
// 菜单宽度
$navMenu:240px;
$navMenuMin:64px;
// 主颜色
$mainColor:#ebeff2;
// 副颜色
$viceColor:#344a5f;
$layoutHeader:70px;

@mixin webkit($type,$value){
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}