.el-submenu .el-menu-item{
    &.is-active {background-color: $mainColor !important;}
    font-size: 14px;
    padding-left: 55px !important;
}
li.el-submenu{
    &.is-active.is-opened .el-submenu__title{
        background-color: rgba(52,74,95,0.2) !important;
        color: $viceColor !important;
    }
}

.close {
    .el-submenu{
      &.is-opened{
        > .el-submenu__title{
          background-color: $mainColor !important;
        }
      }
    }
  }
.el-menu--vertical{
    .el-menu-item{
        line-height: 56px;
    }
    .el-menu-item:hover{
        background-color: $mainColor !important;
    }
    .el-menu{
        padding:0px
    }
}